.loginscreen .title {
    line-height: 25px;
}
.btn-sign-in{
    max-width:100%!important;
}
    
.form-group {
    margin: 2rem 0 5px 0;
}
@media (min-width: 576px) {
    .loginscreen {
        background-color: #fff;
        padding: 50px;
        width: unset !important;
        min-width:400px;
        max-width: 400px;
        border-radius: 3px;
    }
}