@model UserSearchFilter

<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="FullNameF" />
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="EmailF" />
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="MobileNumberF" type="number" />
    </div>
</div>