.retry-comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #fff;

    .btn-retry{
        display: flex;
        justify-content: center;
        align-items: center;
        border:solid 1px #ccc;
        border-radius: 50%;

        i{
            font-size: 20px;
        }
    }
}