html, body {
  min-height: 100%;
  font-size: 13px;
}

.MuiFormLabel-root {
  font-family: "iransans" !important;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

p {
  margin: 0;
}

.btn-custom {
  position: relative;
  text-align: center;
  min-width: 100px;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-custom .icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-custom .icon i {
  font-size: 20px;
}

.btn-custom .text {
  display: inline-block;
  text-align: center;
  margin-left: 40px;
  padding: 0 10px;
}

.btn-action.ltr {
  padding-right: 0;
  padding-left: 10px;
}

.btn-action.ltr .icon {
  left: auto;
  right: 0;
}

.btn-action.ltr .text {
  margin-left: unset;
  margin-right: 40px;
}

.btn-action.w-100 {
  max-width: 100% !important;
}

/*-----------------------------------
            custom uploader
------------------------------------*/
.uploader-box {
  border: dashed 2px #666;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 15px;
  position: relative;
}

.uploader-box button {
  text-align: center;
  background-color: #fff;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uploader-box button:focus {
  outline: none;
}

.uploader-box button i {
  font-size: 20px;
}

.uploader-box button .img-uploader {
  max-height: 80px;
  max-width: 100%;
}

.uploader-box button .title {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px 0;
}

.uploader-box .remove {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
}

/*-----------------------------------
              twilight loader
------------------------------------*/
.twilight-loader {
  -webkit-animation: twilight 1.5s infinite;
          animation: twilight 1.5s infinite;
}

@keyframes twilight {
  0% {
    background-color: #d8d8d8;
  }
  50% {
    background-color: #eaeaea;
  }
  100% {
    background-color: #d8d8d8;
  }
}

@-webkit-keyframes twilight {
  0% {
    background-color: #d8d8d8;
  }
  50% {
    background-color: #eaeaea;
  }
  100% {
    background-color: #d8d8d8;
  }
}

/*-----------------------------------
              three dot loader
------------------------------------*/
@-webkit-keyframes three-dot-loader-anime {
  100%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes three-dot-loader-anime {
  100%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.dot {
  background-color: black;
}

.three-dot-loader .dot {
  width: 3px !important;
  height: 3px !important;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block !important;
  border-radius: 200px !important;
  -webkit-animation-name: three-dot-loader-anime !important;
  animation-name: three-dot-loader-anime !important;
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  -webkit-animation-timing-function: ease-in-out !important;
  animation-timing-function: ease-in-out !important;
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}

.three-dot-loader .dot:nth-child(1) {
  -webkit-animation-delay: 0s !important;
  animation-delay: 0s !important;
}

.three-dot-loader .dot:nth-child(2) {
  -webkit-animation-delay: -0.25s !important;
  animation-delay: -0.25s !important;
}

.three-dot-loader .dot:nth-child(3) {
  -webkit-animation-delay: -0.5s !important;
  animation-delay: -0.5s !important;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.default-i {
  font-size: 20px;
  vertical-align: middle;
}

.block-align-center {
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: none;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*-----------------------------------
              place holder
------------------------------------*/
.p-h-c::-webkit-input-placeholder {
  text-align: center;
}

.p-h-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.p-h-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.p-h-c:-ms-input-placeholder {
  text-align: center;
}

.p-h-r::-webkit-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r:-ms-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.header {
  border: solid 1px #ccc;
}

.header nav {
  display: inline-block;
}

.header nav ul li {
  display: inline-block;
}

.header nav ul li a {
  display: inline-block;
  padding: 10px;
  color: #e15891;
}

.header .account {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .loged-in-wrapper button {
  background: none;
  border: none;
  color: #e15891;
}

.header .loged-in-wrapper button i {
  font-size: 20px;
  padding: 0 5px;
  vertical-align: middle;
}

.login-wrapper .form-group {
  margin-bottom: 10px;
  text-align: center;
}

.login-wrapper .btn-group {
  display: block;
  text-align: center;
  padding: 10px;
}

@font-face {
  font-family: "iransans";
  src: url(../fonts/iransans.eot) format("embedded-opentype"), url(../fonts/iransans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "iransans";
  direction: rtl;
  text-align: right;
}

body[dir="rtl"] .modal-title {
  font-size: 1rem;
}

body[dir="rtl"] .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.dropdown-toggle::after {
  margin-right: .255em;
  margin-left: unset;
  vertical-align: middle;
}

.dropdown-menu {
  text-align: unset;
}
/*# sourceMappingURL=index.css.map */