html {
    min-height: 100%;
    font-size: 13px;
}
body {
    min-height: 100vh;
}
.MuiFormLabel-root {
    font-family: "iransans" !important;
}
ul {
    margin-bottom: 0;
    padding: 0;
}
p {
    margin: 0; 
}
button {
    background: none;
    border: none;
    &:focus {
        outline: none;
    }
}
ul,ol{
    padding: 0;
}
.rotate-90 {
	transform: rotate(90deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.default-i {
	font-size: 20px;
	vertical-align: middle;
}
.block-align-center {
	margin-left: auto;
	margin-right: auto;
}
.m-b {
	margin-bottom: 15px;
}
/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: none;
	transition: background-color 5000s ease-in-out 0s;
}

/*-----------------------------------
              place holder
------------------------------------*/
.p-h-c::-webkit-input-placeholder {
	text-align: center;
}

.p-h-c:-moz-placeholder {
	/* Firefox 18- */
	text-align: center;
}

.p-h-c::-moz-placeholder {
	/* Firefox 19+ */
	text-align: center;
}

.p-h-c:-ms-input-placeholder {
	text-align: center;
}

.p-h-r::-webkit-input-placeholder {
	text-align: right;
	font-family: iransans;
	direction: rtl;
}

.p-h-r:-moz-placeholder {
	/* Firefox 18- */
	text-align: right;
	font-family: iransans;
	direction: rtl;
}

.p-h-r::-moz-placeholder {
	/* Firefox 19+ */
	text-align: right;
	font-family: iransans;
	direction: rtl;
}

.p-h-r:-ms-input-placeholder {
	text-align: right;
	font-family: iransans;
	direction: rtl;
}
@import "./rtl.scss";
@import "./../../shared/Loader/css/index.scss";
@import "./../../routes/Store/css/index.scss";
@import "./../../routes/product/css/index.scss";
@import "../../shared/logIn/css/index.scss";
