html {
  min-height: 100%;
  font-size: 13px;
}

body {
  min-height: 100vh;
}

.MuiFormLabel-root {
  font-family: "iransans" !important;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

ul, ol {
  padding: 0;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.default-i {
  font-size: 20px;
  vertical-align: middle;
}

.block-align-center {
  margin-left: auto;
  margin-right: auto;
}

.m-b {
  margin-bottom: 15px;
}

/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: none;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*-----------------------------------
              place holder
------------------------------------*/
.p-h-c::-webkit-input-placeholder {
  text-align: center;
}

.p-h-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.p-h-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.p-h-c:-ms-input-placeholder {
  text-align: center;
}

.p-h-r::-webkit-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r:-ms-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

@font-face {
  font-family: "iransans";
  src: url(../fonts/iransans.eot) format("embedded-opentype"), url(../fonts/iransans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "iransans";
  direction: rtl;
  text-align: right;
}

body[dir="rtl"] .modal-title {
  font-size: 1rem;
}

body[dir="rtl"] .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.dropdown-toggle::after {
  margin-right: .255em;
  margin-left: unset;
  vertical-align: middle;
}

.dropdown-menu {
  text-align: unset;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .info {
  padding-top: 15px;
  padding-bottom: 15px;
}

.home-page .info .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-page .info .logo img {
  border-radius: 50%;
  border: solid 2px #e15891;
  padding: 5px;
  max-width: 100px;
}

.home-page .info .posts,
.home-page .info .followers,
.home-page .info .following {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .info .posts > :first-child,
.home-page .info .followers > :first-child,
.home-page .info .following > :first-child {
  margin-bottom: 10px;
}

.home-page .info .details > * {
  text-align: left;
}

.home-page .nav-tabs {
  border-top: 1px solid #dee2e6;
  border-bottom: none;
}

.home-page .nav-tabs .nav-item {
  display: inline-block;
}

.home-page .nav-tabs .nav-item a {
  display: inline-block;
  color: #8e8e8e;
}

.home-page .nav-tabs .nav-item a.nav-link.active {
  border: none;
  color: #0095f6;
}

.home-page .products-list .product {
  width: 33.33%;
  float: right;
  border: solid 1px #eee;
}

.home-page .products-list .product img {
  width: 100%;
}

.icons {
  margin-bottom: 15px;
}

.icons .col-2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-purchase {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #0095f6;
  border-radius: 4px;
  text-align: center;
}

.carousel-indicators li {
  background-color: #000;
  border-radius: 50%;
  background: rgba(var(--ba8, 168, 168, 168), 1);
  width: 6px;
  height: 6px;
  padding: 0;
  border: none;
}

.carousel-indicators li.active {
  background-color: #0095f6;
}

.login-wrapper .form-group {
  margin-bottom: 10px;
  text-align: center;
}

.login-wrapper .btn-group {
  display: block;
  text-align: center;
  padding: 10px;
}
/*# sourceMappingURL=index.css.map */