html {
  min-height: 100%;
  font-size: 12px;
}

body {
  min-height: 100vh;
  background-color: #f8f8f8;
}

#root {
  min-height: 100vh;
}

.MuiFormLabel-root {
  font-family: "iransans" !important;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

p {
  margin: 0;
}

.m-b {
  margin-bottom: 15px !important;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

ul,
ol {
  padding: 0;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.default-i {
  font-size: 20px;
  vertical-align: middle;
}

.block-align-center {
  margin-left: auto;
  margin-right: auto;
}

.m-b {
  margin-bottom: 15px;
}

/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: none;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*-----------------------------------
              place holder
------------------------------------*/
.p-h-c::-webkit-input-placeholder {
  text-align: center;
}

.p-h-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.p-h-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.p-h-c:-ms-input-placeholder {
  text-align: center;
}

.p-h-r::-webkit-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.p-h-r:-ms-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.toast:not(.show) {
  display: none;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.btn-group {
  margin-bottom: 15px;
  width: 100%;
}

.MuiFormControl-root {
  width: 100%;
}

@font-face {
  font-family: "iransans";
  src: url(../fonts/iransans.eot) format("embedded-opentype"), url(../fonts/iransans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "iransans";
  direction: rtl;
  text-align: right;
}

.MuiFormHelperText-root, .MuiInputBase-input, .MuiTypography-body2 {
  font-family: "iransans" !important;
}

body[dir="rtl"] .modal-title {
  font-size: 1rem;
}

body[dir="rtl"] .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.dropdown-toggle::after {
  margin-right: 0.255em;
  margin-left: unset;
  vertical-align: middle;
}

.dropdown-menu {
  text-align: unset;
}

.toast .toast-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toast .toast-header .close {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}

.MuiStepper-root {
  padding: 15px 0 !important;
}

.MuiStepper-root .MuiStepIcon-root.MuiStepIcon-completed, .MuiStepper-root .MuiStepIcon-root.MuiStepIcon-active {
  color: #8aadd8 !important;
}

.basket-icon-comp .icon {
  color: #7facde;
  font-size: 20px;
  vertical-align: middle;
}

.basket-icon-comp .count {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 10px;
  width: auto;
  height: auto;
}

.ripple-loader {
  position: relative;
}

.ripple-loader:before {
  content: "Loading";
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  margin: 38% 0% 0% 14%;
  color: #fff;
}

.ripple-loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #0ec198;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-animation: ripple 1.5s ease-out infinite;
  animation: ripple 1.5s ease-out infinite;
}

@-webkit-keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  96% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  96% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

.retry-comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #fff;
}

.retry-comp .btn-retry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #ccc;
  border-radius: 50%;
}

.retry-comp .btn-retry i {
  font-size: 20px;
}

.header-comp {
  background-color: #fff;
}

.header-comp .wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-comp .wrapper .heading {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.header-comp .wrapper .btn-back {
  padding: 0;
}

.header-comp .wrapper .btn-back i {
  font-size: 20px;
}

.discount-badg {
  background-color: red;
  color: #fff;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.store-page .info {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}

.store-page .info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.store-page .info .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.store-page .info .wrapper .logo img {
  border-radius: 50%;
  padding: 5px;
  max-width: 100px;
}

.store-page .info .wrapper .name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.store-page .info .wrapper .name-wrapper .name {
  font-size: 1.2rem;
}

.store-page .info .wrapper .name-wrapper .basket-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.store-page .info .wrapper .name-wrapper .basket-wrapper .contactus {
  color: #7facde;
  border-radius: 30px;
  background-color: #ecf5fc;
  padding: 3px 8px;
}

.store-page .nav-tabs {
  border-bottom: none;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

.store-page .nav-tabs .nav-item {
  display: inline-block;
}

.store-page .nav-tabs .nav-item a {
  display: inline-block;
  color: #7facde;
  color: #b1b1b1;
  font-size: 0.9rem;
  padding: 5px;
}

.store-page .nav-tabs .nav-item a.active {
  background-color: #fff;
  color: #666;
  border: none;
  border-bottom: solid 3px #8aadd8;
}

.store-page .nav-tabs .nav-item a .icon {
  font-size: 15px;
  vertical-align: middle;
}

.store-page .nav-tabs .nav-item a .icon.newests-icon {
  color: yellow;
}

.store-page .nav-tabs .nav-item a .icon.favorites-icon {
  color: red;
}

.store-page .nav-tabs .nav-item a .icon.best-sellers-icon {
  color: #ff9f1d;
}

.store-page .tab-content {
  margin-top: 10px;
}

.store-page .products-list .arraned-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3px;
}

.store-page .products-list .arraned-row .product {
  margin-right: 3px;
  position: relative;
}

.store-page .products-list .arraned-row .product .discount-badg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.store-page .products-list .arraned-row .product img {
  width: 100%;
}

.store-page .products-list .arraned-row .product:first-child {
  margin-right: 0;
}

.store-page .products-list .arraned-row .skeleton-product {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  margin-right: 3px;
  min-width: calc((100% - 6px) / 3);
}

.store-page .products-list .arraned-row .skeleton-product > span {
  padding-bottom: 100%;
}

.store-page .products-list .arraned-row .skeleton-product:first-child {
  margin-right: 0;
}

.product-page .info {
  margin-bottom: 55px;
}

.product-page .btn-purchase {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #23af66;
  text-align: center;
}

.product-page .carousel-item {
  overflow: hidden;
  -webkit-transition: none !important;
  transition: none !important;
}

.product-page .carousel-item img {
  max-height: 320px;
}

.product-page .carousel-indicators li {
  background-color: #ccc;
  border-radius: 50%;
  background: rgba(var(--ba8, 168, 168, 168), 1);
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
}

.product-page .carousel-indicators li.active {
  background-color: #fff;
}

.product-page .name {
  font-size: 1.4rem;
  font-weight: 900;
  padding: 15px 0;
}

.product-page .desc {
  max-height: 100px;
  overflow: hidden;
  line-height: 20px;
  text-align: justify;
}

.product-page .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-page .counter > * {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.product-page .counter .btn-minus,
.product-page .counter .btn-plus {
  border: solid 1px #ccc;
  border-radius: 50%;
}

.product-page .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-page .price-wrapper > :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-page .price-wrapper > :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-page .price-wrapper .price {
  padding: 0 5px;
  position: relative;
}

.product-page .price-wrapper .price::after {
  content: '';
  background: #ccc;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 5px;
  right: 5px;
}

.product-page .price-wrapper .real-price-wrapper {
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-page .price-wrapper .real-price-wrapper .real-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 900;
}

.product-page .price-wrapper .currency {
  padding: 0 5px;
}

.contact-us-page .rounded {
  border-radius: 30px !important;
}

.contact-us-page .socials {
  margin-top: 50px;
  margin-bottom: 30px;
}

.contact-us-page .socials .a-telegram,
.contact-us-page .socials .a-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  border-radius: 30px;
  background-color: #fff;
  width: 130px;
}

.contact-us-page .socials .a-telegram img,
.contact-us-page .socials .a-whatsapp img {
  height: 30px;
}

.contact-us-page .socials .a-whatsapp {
  color: #00a82d;
}

.contact-us-page .socials .a-telegram {
  color: #20a0e1;
}

.contact-us-page .website, .contact-us-page .phone-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-or-login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.signup-or-login-page .row-img {
  margin-bottom: 15px;
}

.signup-or-login-page .row-btns button {
  min-width: 200px;
  padding: 7.5px;
  margin-bottom: 10px;
}

.login-wrapper .form-group {
  margin-bottom: 10px;
  text-align: center;
}

.login-wrapper .btn-group {
  display: block;
  text-align: center;
  padding: 10px;
}

.login-wrapper .recover-password {
  text-align: center;
}

.single-address-page .mapboxgl-map {
  width: 100% !important;
  height: 100px !important;
  margin-bottom: 15px;
}

.single-address-page .mapboxgl-canvas {
  height: 100px;
}

.addresses-list-page {
  padding-top: 30px;
}

.addresses-list-page .mapboxgl-map {
  width: 100% !important;
  height: 100px !important;
  margin-bottom: 15px;
}

.addresses-list-page .mapboxgl-canvas {
  height: 100px;
}
/*# sourceMappingURL=index.css.map */