@font-face {
    font-family: "iransans";
    src: url(../fonts/iransans.eot) format("embedded-opentype"), url(../fonts/iransans.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: "iransans";
    direction: rtl;
    text-align: right;
}

body[dir="rtl"] {
  .modal-title {
    font-size: 1rem;
  }
  .modal-header {
    .close {
      margin: -1rem auto -1rem -1rem;
    }
  }
}

.dropdown-toggle::after{
  margin-right: .255em;
  margin-left: unset;
  vertical-align: middle;
}
.dropdown-menu{
  text-align: unset;
}