@import '../../../assets//css/constant.scss';

.header {

    border:solid 1px #ccc;
    
    nav {
        display: inline-block;

        ul {
            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px;
                    color: $mainColor;
                }
            }
        }
    }

    .account {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }

    .loged-in-wrapper{
        button{
            background: none;
            border: none;
            color: $mainColor;
            i{
                font-size: 20px;
                padding: 0 5px;
                vertical-align: middle;
            }
        }

    }
}
