.btn-search-user {
    cursor:pointer;
    width:40px;
    padding:0 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    i{

    }
    .spinner circle{
        stroke:#000;
    }
}
.full-name {
    padding-top:5px;
    font-size:0.7rem;

    i{
        margin-left:5px;
    }
    i.zmdi-info {
        color: #856404;
    }

}
.user-in-roles {
    font-size: 0.75rem;

    .zmdi-delete{
        font-size:16px;
    }
}