@model OrderSearchFilter
@{
    Layout = null;
}

<div class="row">
    <div class="col-12 col-sm-6">
        <custom-select-for for="OrderStatus" items="EnumExtension.GetEnumElements<OrderStatus>().Select(x=>new SelectListItem {
            Value = x.Name,
            Text = x.Description
        }).ToList()" />
    </div>
    <div class="col-12 col-sm-6">
        <custom-select-for for="StoreId" class="form-control with-ajax select2"
                          select-data-url="@Url.Action("Search","StoreStore")" />
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="FromDateSh" class="form-control pdate ltr-elm"></custom-input-for>
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="ToDateSh" class="form-control pdate ltr-elm"></custom-input-for>
    </div>
</div>
