@model TempOrderDetailSearchFilter
@{
    Layout = null;
}

<div class="row">
    <div class="col-12 col-sm-4">
        <custom-input-for for="BasketId" class="form-control ltr-elm" />
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="FromDateSh" class="form-control ltr-elm pdate" />
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="ToDateSh" class="form-control ltr-elm pdate" />
    </div>
</div>
