@model string
@{
    Layout = null;
}

    <label>لینک سبد خرید:</label>
<br />
<br />
<p class="text-center alert alert-success">
    @Model <i class="zmdi zmdi-copy default-i copy-value" data-copy-value="@Model"></i>
</p>
