@import '../../../assets/css/constant.scss';

.basket-icon-comp{
    .icon{
        color: $textColor;
        font-size: 20px;
        vertical-align: middle;
    }
    .count{
        display: inline-flex;
        margin:0 10px;
        width: auto;
        height: auto;
    }
}

.ripple-loader {
	position: relative;
}

.ripple-loader:before {
	content: "Loading";
	position: absolute;
	font-family: "Open Sans", sans-serif;
	font-size: 1.3em;
	margin: 38% 0% 0% 14%;
	color: #fff;
}

.ripple-loader:after {
	content: "";
	position: absolute;
	width: 100px;
	height: 100px;
	border: 2px solid #0ec198;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	-webkit-animation: ripple 1.5s ease-out infinite;
	-moz-animation: ripple 1.5s ease-out infinite;
	-ms-animation: ripple 1.5s ease-out infinite;
	-o-animation: ripple 1.5s ease-out infinite;
	animation: ripple 1.5s ease-out infinite;
}

@keyframes ripple {
	0% {
		width: 10px;
		height: 10px;
		opacity: 1;
	}
	96% {
		width: 40px;
		height: 40px;
		opacity: 0;
	}
	100% {
		width: 40px;
		height: 40px;
		opacity: 0;
	}
}