/*-----------------------------------
                utils
------------------------------------*/
.green {
  color: #32c787; }

.bg-green {
  background-color: #c3e6cb; }

.red {
  color: #ff3d3d; }

.bg-red {
  background-color: #f8d7da; }

.ltr-elm {
  direction: ltr;
  text-align: left; }

.rtl-elm {
  direction: rtl;
  text-align: right; }

.rotate-90 {
  transform: rotate(90deg); }

.rotate-180 {
  transform: rotate(180deg); }

.default-i {
  font-size: 20px;
  vertical-align: middle; }

.b-a-c {
  margin-left: auto;
  margin-right: auto; }

.font-5x {
  font-size: 5rem; }

/*-----------------------------------
      action botton
------------------------------------*/
.btn-action {
  position: relative;
  text-align: center;
  min-width: 100px;
  color: #fff !important; }
  .btn-action .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1); }
    .btn-action .icon i {
      font-size: 20px; }
  .btn-action .text {
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    padding: 0 10px; }

.btn-action.ltr {
  padding-right: 0;
  padding-left: 10px; }
  .btn-action.ltr .icon {
    left: auto;
    right: 0; }
  .btn-action.ltr .text {
    margin-left: unset;
    margin-right: 40px; }

.btn-action.w-100 {
  max-width: 100% !important; }

/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  webkit-box-shadow: none;
  background-color: none;
  transition: background-color 5000s ease-in-out 0s; }

/*-----------------------------------
              place holder
------------------------------------*/
.p-h-c::-webkit-input-placeholder {
  text-align: center; }

.p-h-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center; }

.p-h-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center; }

.p-h-c:-ms-input-placeholder {
  text-align: center; }

.p-h-r::-webkit-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl; }

.p-h-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: iransans;
  direction: rtl; }

.p-h-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: iransans;
  direction: rtl; }

.p-h-r:-ms-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl; }

/*-----------------------------------
              twilight loader
------------------------------------*/
.twilight-loader {
  animation: twilight 1.5s infinite; }

@keyframes twilight {
  0% {
    background-color: #d8d8d8; }
  50% {
    background-color: #eaeaea; }
  100% {
    background-color: #d8d8d8; } }

@-moz-keyframes twilight {
  0% {
    background-color: #d8d8d8; }
  50% {
    background-color: #eaeaea; }
  100% {
    background-color: #d8d8d8; } }

@-webkit-keyframes twilight {
  0% {
    background-color: #d8d8d8; }
  50% {
    background-color: #eaeaea; }
  100% {
    background-color: #d8d8d8; } }

/*-----------------------------------
              spinner loader
------------------------------------*/
.spinner {
  position: relative;
  padding: 0 10px;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 999999999;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto; }

.spinner svg {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 50%;
  margin-left: -12px; }

.spinner svg circle {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: white; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }

/*-----------------------------------
              three dot loader
------------------------------------*/
@-webkit-keyframes three-dot-loader-anime {
  100%, 50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-moz-keyframes three-dot-loader-anime {
  100%, 50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-o-keyframes three-dot-loader-anime {
  100%, 50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes three-dot-loader-anime {
  100%, 50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

.dot {
  background-color: black; }

.three-dot-loader .dot {
  width: 3px !important;
  height: 3px !important;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block !important;
  -webkit-border-radius: 200px !important;
  -moz-border-radius: 200px !important;
  -ms-border-radius: 200px !important;
  -o-border-radius: 200px !important;
  border-radius: 200px !important;
  -webkit-animation-name: three-dot-loader-anime !important;
  -moz-animation-name: three-dot-loader-anime !important;
  -ms-animation-name: three-dot-loader-anime !important;
  -o-animation-name: three-dot-loader-anime !important;
  animation-name: three-dot-loader-anime !important;
  -webkit-animation-duration: 1.5s !important;
  -moz-animation-duration: 1.5s !important;
  -ms-animation-duration: 1.5s !important;
  -o-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  -webkit-animation-timing-function: ease-in-out !important;
  -moz-animation-timing-function: ease-in-out !important;
  -ms-animation-timing-function: ease-in-out !important;
  -o-animation-timing-function: ease-in-out !important;
  animation-timing-function: ease-in-out !important;
  -webkit-animation-iteration-count: infinite !important;
  -moz-animation-iteration-count: infinite !important;
  -ms-animation-iteration-count: infinite !important;
  -o-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important; }

.three-dot-loader .dot:nth-child(1) {
  -webkit-animation-delay: 0s !important;
  -moz-animation-delay: 0s !important;
  -ms-animation-delay: 0s !important;
  -o-animation-delay: 0s !important;
  animation-delay: 0s !important; }

.three-dot-loader .dot:nth-child(2) {
  -webkit-animation-delay: -.25s !important;
  -moz-animation-delay: -.25s !important;
  -ms-animation-delay: -.25s !important;
  -o-animation-delay: -.25s !important;
  animation-delay: -.25s !important; }

.three-dot-loader .dot:nth-child(3) {
  -webkit-animation-delay: -.5s !important;
  -moz-animation-delay: -.5s !important;
  -ms-animation-delay: -.5s !important;
  -o-animation-delay: -.5s !important;
  animation-delay: -.5s !important; }

/*-----------------------------------
             popover
------------------------------------*/
.popover .alert {
  margin-bottom: 0; }
  .popover .alert i {
    font-size: 17px;
    margin-left: 5px;
    vertical-align: middle; }
  .popover .alert .text {
    padding-top: 2px;
    display: inline-block; }

.success.popover .arrow::after {
  border-top-color: #d4edda; }

.danger.popover .arrow::after {
  border-top-color: #f7d7da; }

.info.popover .arrow::after {
  border-top-color: #d1ecf1; }

.warning.popover .arrow::after {
  border-top-color: #fef3cd; }

.success.popover .alert > i {
  color: #1ab394; }

.danger.popover .alert > i {
  color: #ca666f; }

.info.popover .alert > i {
  color: #0b76b4; }

.warning.popover .alert > i {
  color: #efc122; }

/*-----------------------------------
             validations
------------------------------------*/
.input-validation-error {
  border: solid 1px red; }

.form-group {
  position: relative; }

.form-text {
  height: 18px; }

.field-validation-error {
  color: red; }

/*-----------------------------------
             modal
------------------------------------*/
.modal {
  text-align: right;
  background: rgba(0, 0, 0, 0.8); }
  .modal .modal-body {
    position: relative;
    padding-bottom: 75px; }
    .modal .modal-body .modal-body-content {
      margin-bottom: 15px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(100vh - 150px); }
    .modal .modal-body .inner-notification {
      display: none;
      text-align: right; }
    .modal .modal-body .inner-notification .text {
      margin: 0;
      font-size: 0.75rem; }
    .modal .modal-body .custom-modal-footer {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 15px 1rem;
      border-top: solid 1px #ccc;
      background-color: #fff; }

/*-----------------------------------
             template
------------------------------------*/
ul.nav.metismenu .nav-header .username {
  overflow: hidden;
  max-width: 170px; }

ul.nav.metismenu .fa.arrow {
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font'; }

ul.nav.metismenu .fa.arrow:before {
  content: '\f2fb'; }

ul.nav.metismenu li.active .fa.arrow:before {
  content: '\f2f9'; }

.navbar-form-custom .form-group {
  margin-bottom: 1rem; }

.nav.navbar-top-links a {
  font-size: 12px; }

.page-heading {
  padding: 10px; }

.btn-group {
  width: 100%; }

.footable .footable-row-detail-name {
  font-size: 0.8rem;
  padding: 5px;
  padding-left: 10px;
  white-space: nowrap; }

.list {
  /*.page-size {
		width: 45px;
		float: left;
		font-size: 12px;
		padding: 0px;
		height: 20px !important;
	}*/ }
  .list .zmdi-more {
    font-size: 20px; }

.actions .dropdown {
  width: 100%;
  cursor: pointer;
  text-align: center; }
  .actions .dropdown > [data-toggle] {
    display: inline-block;
    width: 100%; }

.actions .spinner {
  width: 18px;
  height: 18px; }
  .actions .spinner svg {
    width: 18px;
    height: 18px;
    margin-left: -9px;
    margin-top: -9px; }
    .actions .spinner svg circle {
      stroke: #000; }

.list .actions a i {
  min-width: 18px; }

.list-with-scroll {
  max-height: 270px;
  overflow-y: auto; }

.chb-group {
  overflow: hidden;
  padding-top: 30px; }

.popover {
  min-width: 250px; }

@media (max-width: 570px) {
  .list-with-scroll {
    max-height: 200px; } }

/*for copy-value of elemnt with 'data-copy-value' attribute*/
.copy-value {
  font-size: 14px;
  cursor: pointer; }

.copy-value:hover {
  font-weight: bold;
  opacity: 0.8; }

.copied-value {
  cursor: not-allowed;
  color: #00b597; }

.single-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer; }
  .single-uploader .uploader {
    padding: 5px;
    border: dashed 2px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    height: 100px;
    width: 100px; }
  .single-uploader .btn-remove {
    display: none;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px; }
  .single-uploader img {
    display: none;
    max-width: 100%; }
  .single-uploader label {
    margin-bottom: 0;
    padding-top: 5px;
    font-size: 0.8rem; }
  .single-uploader .zmdi-plus {
    font-size: 20px; }
  .single-uploader.uploaded .btn-remove {
    display: inline-flex; }
  .single-uploader.uploaded .zmdi-plus {
    display: none; }
  .single-uploader.uploaded img {
    display: block; }
