html, body {
  direction: rtl;
  font-size: 12px; }

.rtl-f-r {
  float: right; }

.rtl-ta-r {
  text-align: right; }

.rtl-f-l {
  float: left; }

.rtl-ta-l {
  text-align: left; }

/*-----------------------------------
              font
------------------------------------*/
@font-face {
  font-family: "iransans";
  src: url(../../Fonts/iransans.eot) format("embedded-opentype"), url(../../Fonts/iransans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

*:not(i) {
  font-family: "iransans"; }

select {
  height: 32px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/*-----------------------------------
              modal
------------------------------------*/
.modal-header .close {
  margin: -1rem auto -1rem -1rem; }

.modal-footer > :not(:first-child) {
  margin-left: 0;
  margin-right: .25rem; }

/*-----------------------------------
              select2
------------------------------------*/
.select2 {
  direction: rtl; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 8px !important;
  padding-left: 20px !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: auto !important;
  left: 1px; }

.select2-results {
  text-align: right;
  direction: rtl; }

.select2-search__field {
  text-align: right;
  direction: rtl; }

/*-----------------------------------
              alert
------------------------------------*/
.popover .alert > i {
  float: right; }

/*-----------------------------------
              dropzone.js
------------------------------------*/
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  direction: rtl;
  text-align: right; }

/*-----------------------------------
              toastr.js
------------------------------------*/
#toast-container > div {
  background-position: right 15px center !important; }

#toast-container > .toast {
  display: flex;
  align-items: center; }

.toast-close-button {
  position: absolute !important;
  left: 10px !important;
  top: 50% !important;
  margin-top: -15px !important; }

.toast-message {
  text-align: right;
  font-family: 'iransans';
  font-size: 0.9rem; }

/*-----------------------------------
              template
------------------------------------*/
ul.nav.metismenu {
  padding-right: 0; }
  ul.nav.metismenu li > a {
    text-align: right;
    padding: 14px 25px 14px 20px; }
  ul.nav.metismenu .arrow {
    float: left; }

.mini-navbar li.active .nav-second-level {
  left: auto !important;
  right: 65px; }

@media (min-width: 768px) {
  #page-wrapper {
    margin: 0 220px 0 0; } }

.profile-element {
  direction: rtl;
  text-align: right; }

.form-group {
  text-align: right;
  direction: rtl; }

.btn-group {
  text-align: left;
  direction: ltr;
  margin-right: 10px; }

table th, table td {
  text-align: right; }

table .actions a {
  text-align: right;
  padding: 8px;
  padding-left: 15px; }
  table .actions a i {
    margin-left: 5px; }

.icheckbox_square-green {
  margin-left: 5px; }

.nav > li > a i {
  margin-right: 0 !important;
  margin-left: 6px; }

.label {
  font-family: 'iransan' !important; }
