@import "./../../../assets/css/constant.scss";
.store-page {
    .info {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #fff;
        .wrapper {
            display: flex;

            .logo {
                display: flex;
                justify-content: flex-end;
                img {
                    border-radius: 50%;
                    padding: 5px;
                    max-width: 100px;
                }
            }
            .name-wrapper {
                display: flex;
                width: 100%;
                padding: 10px;
                justify-content: space-around;
                align-items: flex-start;
                flex-direction: column;
                .name {
                    font-size: 1.2rem;
                }
                .basket-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    .contactus {
                        color: $textColor;
                        border-radius: 30px;
                        background-color: #ecf5fc;
                        padding: 3px 8px;
                    }
                }
            }
        }
    }

    .nav-tabs {
        border-bottom: none;
        background-color: #fff;
        box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);

        .nav-item {
            display: inline-block;

            a {
                display: inline-block;
                color: $textColor;
                color: #b1b1b1;
                font-size: 0.9rem;
                padding: 5px;

                &.active {
                    background-color: #fff;
                    color: #666;
                    border: none;
                    border-bottom: solid 3px $primaryColor;
                }

                .icon {
                    font-size: 15px;
                    vertical-align: middle;

                    &.newests-icon {
                        color: yellow;
                    }

                    &.favorites-icon {
                        color: red;
                    }
                    &.best-sellers-icon {
                        color: #ff9f1d;
                    }
                }
            }
        }
    }
    .tab-content {
        margin-top: 10px;
    }
    .products-list {
        .arraned-row {
            display: flex;
            margin-bottom: 3px;

            .product {
                margin-right: 3px;
                position: relative;
                max-width: 50%;
                .discount-badg {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }

                img {
                    width: 100%;
                }

                &:first-child {
                    margin-right: 0;
                }
            }

            .skeleton-product {
                flex: 1 0 0%;
                margin-right: 3px;
                min-width: calc((100% - 6px) / 3);

                > span {
                    padding-bottom: 100%;
                }
                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}
