.review-page {
    .basket-wrapper {
        margin-bottom: 55px;
        .item {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

            .img-wrapper {
                margin-left: 15px;
                width: 100px;

                img {
                    width: 100%;
                    border-radius: 8px;
                }
            }

            .info {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: space-around;

                .name {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    .hx {
                        font-size: 1.2rem;
                    }
                }

                .price{
                    .val{
                        font-size: 1.5rem;
                        font-weight: 900;
                    }
                }
            }
        }
        .total-wrapper{
            margin-top: 30px;
            .price{
                padding-top: 15px;
                border-top: dashed 1px green;
                display: inline-block;
                color: green;

                .val{
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
        }
    }

    .btn-next {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
