@model ActionSearchFilter

<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="NameF" />
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="ControllerNameF" class="form-control ltr-elm" />
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="ActionNameF" class="form-control ltr-elm" />
    </div>
</div>