.product-page {
    .info{
        margin-bottom: 55px;
    }
    .btn-purchase {
        position: fixed;
        bottom: 0;
    }
    .carousel-item {
        overflow: hidden;
        transition: none!important;
        // -webkit-transition: -webkit-transform .5s ease-in-out;
        // -o-transition: -o-transform .5s ease-in-out;
        // transition: transform .5s ease-in-out;

        img {
            max-height: 320px;
        }
    }

    .carousel-indicators {
        li {
            background-color: #ccc;
            border-radius: 50%;
            background: rgba(var(--ba8, 168, 168, 168), 1);
            width: 12px;
            height: 12px;
            padding: 0;
            border: none;

            &.active {
                background-color: #fff;
            }
        }
    }

    .name {
        font-size: 1.4rem;
        font-weight: 900;
        padding: 15px 0;
    }
    .desc {
        max-height: 100px;
        overflow: hidden;
        line-height: 20px;
        text-align: justify;
    }

    .price-wrapper {
        display: flex;
        flex-direction: column;

        > :first-child {
            display: flex;
            justify-content: flex-end;
        }
        >:last-child{
            display: flex;
        }
        .price{
            padding: 0 5px;
            position: relative;

            &::after{
                content: '';
                background: #ccc;
                height: 2px;
                position: absolute;
                top: 50%;
                margin-top: -1px;
                left: 5px;
                right: 5px;
            }
        }
        .real-price-wrapper{
            padding: 10px 0;
            align-items: center;
            justify-content: flex-end;

            .real-price {
                display: flex;
                justify-content: flex-end;
                font-size: 1.5rem;
                font-weight: 900;
            }
        }

        .currency{
            padding: 0 5px;
        }
    }
}
