.product-manage-page .stores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px; }
  .product-manage-page .stores label {
    margin-bottom: 0;
    padding: 0 10px; }
  .product-manage-page .stores select {
    width: 200px;
    margin-left: 10px; }
  .product-manage-page .stores:before, .product-manage-page .stores:after {
    content: '';
    height: 1px;
    background-color: #ccc;
    flex: 1;
    display: flex; }

.product-manage-page #posts-wrapper .post {
  position: relative; }
  .product-manage-page #posts-wrapper .post figure {
    border-radius: 5px; }
    .product-manage-page #posts-wrapper .post figure .check {
      display: none;
      position: absolute;
      right: 15px;
      padding: 10px;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      z-index: 99;
      animation-name: slideInUp; }
      .product-manage-page #posts-wrapper .post figure .check i {
        font-size: 20px;
        color: green; }
    .product-manage-page #posts-wrapper .post figure.valid {
      border: solid 2px green; }
      .product-manage-page #posts-wrapper .post figure.valid .check {
        display: flex; }
      .product-manage-page #posts-wrapper .post figure.valid:after {
        animation-name: slideInUp;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 40px;
        left: 0;
        background-color: rgba(255, 255, 255, 0.4);
        z-index: 98; }
    .product-manage-page #posts-wrapper .post figure img {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      max-width: 100%; }
    .product-manage-page #posts-wrapper .post figure .input-price.color-red {
      color: red; }

.product-manage-page #posts-wrapper #btn-submit {
  width: 100px; }
