@model List<NestedItem>
@{
	ViewBag.Title = $"{Strings.Management} {DomainStrings.Order}";
	Layout = "_Layout";
}
@section styles{
	<link href="~/Styles/Libs/jquery.nestedView.min.css" rel="stylesheet" />
}

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="ibox ">
				<div class="ibox-content">
					<div class="row">
						<div class="col-12 col-sm-12">
							<nested-view tag-id="nested-view" 
										 items="Model"></nested-view>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script src="~/Scripts/Libs/jquery.nested-view.js"></script>
	<script type="text/javascript">

			$(document).ready(function () {

			});

	</script>

}