@model ProductSearchFilter
    <div class="filters">
        <div class="ibox collapsed">
            <div class="ibox-title">
                <h5>@Strings.Filters</h5>
                <div class="ibox-tools">
                    <a class="collapse-icon">
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <custom-input-for for="Name" />
                        </div>
                    </div>

                    <div class="row btn-group">
                        <div class="col-12">
                            <button type="button" class="btn btn-info m-t btn-action search">
                                <span class="text">@Strings.Search</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-search-for"></i>
                                </div>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
        <custom-button text="@Strings.Add"
                       icon="zmdi zmdi-plus"
                       class="btn btn-primary btn-action btn-modal m-b"
                       data-url="@Url.Action("Add")"></custom-button>

    </div>

