@model IEnumerable<Post>
@{
    Layout = null;
}


@if (Model != null)
{
    foreach (var item in Model)
    {

    }
}

@*<div class="row btn-group">
        <div class="col-12">
            <button type="button" class="btn btn-info m-t btn-action search">
                <span class="text">@Strings.Search</span>
                <div class="icon">
                    <i class="zmdi zmdi-search-for"></i>
                </div>
            </button>
        </div>
    </div>*@
